@font-face {
    font-family: 'Sovereign';
    src: url('../Fonts/sovereign.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.page-title h1 {
    font-family: 'Sovereign', serif;
}
.chapter h2 {
    font-family: 'Sovereign', serif;
}

.page-title h1 {
    font-family: 'Sovereign', serif;
    letter-spacing: 0.05rem;
    font-size: 3rem;
}
